<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NX_TOOL_MANAGER.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NX_TOOL_MANAGER.Properties.Settings>
            <setting name="ToolsDefPath" serializeAs="String">
                <value />
            </setting>
            <setting name="HoldersDefPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ShanksDefPath" serializeAs="String">
                <value />
            </setting>
            <setting name="TrackpointsDefPath" serializeAs="String">
                <value />
            </setting>
        </NX_TOOL_MANAGER.Properties.Settings>
    </userSettings>
</configuration>